/* General */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
    
}
/* cabecera #384152 */
header {
    background-color: #0979b0;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Navegacion */
nav {
    background-color: #006699;
    padding: 10px;
    text-align: center;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li{
    display: inline;
    margin-right: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* contenido principal */
main {
    padding: 20px;
}

/* Articulo */
article {
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
}

/*  Seccion relacionada */
section {
    background-color: #e8f4f8;
    padding: 15px;
    border-radius: 5px;
}

/* Aside */
aside {
    background-color: #f0f0f0;
    padding: 15px;
    margin: 20px;
    border-left: 5px solid #ccc;
}

/* Pie de pagina */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}